@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito&family=Open+Sans&display=swap');

/* Base styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 17px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #c17bd4 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

body {
  background-color: #f8f3e13d;
  line-height: 1.5;

  --primary-text-color: #7E5AFF;
  --secondary-text-color: #00000065;
  --black--text-color: #000;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1100px;
}

/* Font styles */

.contact-info__header {
  color: var(--primary-text-color);
  margin-bottom: 15px;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
}

.heading--h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 3px;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.heading--h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 3px;
  color: var(--black--text-color);
  margin-top: 20px;
}

.accordion-button__heading--h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 3px;
  color: var(--black--text-color);
}

.paragraph--date {
  font-family: 'Montserrat';
  font-size: 14px;
  color: var(--secondary-text-color);
  margin: 10px 0;
}

.paragraph--text {
  font-family: 'Montserrat';
  font-size: 16px;
  color: var(--secondary-text-color);
}

.contact-info__sub-header {
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

/* Placement */

.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block--style {
  width: 100%;
  background-color: rgba(235, 232, 228, 0.493);
  padding: 20px;
  border-radius: 20px;
  margin-top: 80px;
}

.resume {
  margin: 50px auto;
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  padding: 30px 0;
  max-width: 1200px;
}

.resume:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.05); /* Уменьшите значение альфа-канала для сделать его менее заметным */
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); /* Уменьшите значение альфа-канала для сделать его менее заметным */
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.05); /* Уменьшите значение альфа-канала для сделать его менее заметным */
  }
}

.resume__block {
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.contact_info_container {
  background: url('assets/other_img/back_city.png') no-repeat;
  border-bottom: 2px solid var(--primary-text-color);
}

.resume__block {
  padding: 30px;
  border: 3px solid var(--primary-text-color);
}

.contact-info__block {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info__block--center {
    justify-content: center;
}

.contact-info__item {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contact-info__item:hover {
  scale: 1.1;
}

.contact-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
  margin-right: 10px;
  width: 20px;
}

.contact-info__avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--black--text-color);
}

/* Block with button animation */

.popup {
  display: none;
}

.button--popup {
  background: none;
  left: 20px;
  top: -5px;
  border: 0;
  transform-style: preserve-3d;
  transform: rotateX(45deg)rotateZ(45deg);
  cursor: pointer;
  animation: jump 0.5s infinite alternate;
  animation-delay: 2s;
}

@keyframes jump {
  0% {
    transform: rotateX(45deg) rotateZ(45deg) translateY(0);
  }
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translateY(-5px);
  }
  100% {
    transform: rotateX(45deg) rotateZ(45deg) translateY(0);
  }
}

.button--popup > .violet {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background-color: var(--primary-text-color);
  transform: translate(-50%,-50%);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.violet::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1em;
  left: 0;
  background-color: var(--primary-text-color);
  transform: rotateZ(-45deg) translateY(-.5em);
  transition: height 150ms, transform 150ms;
}

.violet::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  transform: rotateZ(-45deg) translateY(-1em);
  transition: transform 150ms;
  border: 1px solid rgb(243, 243, 243);
}

/* List styles */

ul {
  padding-left: 20px;
  list-style: none;
}

ul li {
  position: relative;
  padding-left: 15px;
}

ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-text-color);
}

/* Photos  */

.img--meme {
  max-width: 295px;
  min-width: 150px;
}

.intro__icon {
  width: 20px;
}

.block--experience__img {
  max-width: 120px;
  border-radius: 50%;
}

/* Media  */

@media screen and (max-width: 576px) {

  .resume__block {
    padding: 10px;
  }

  .main-info,
  .contact_info_container {
    flex-direction: column;
  }

  .contact_info_container {
    align-items: center;
  }

  .contact-info__block:not(:last-child) {
    margin-bottom: 20px;
  }

  .block--style {
    margin-top: 20px;
  }

  .img--meme {
    display: none;
  }
}

